<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css">
 <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js"></script>
  <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#/">Foodpipe</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
             <ul class="nav navbar-nav navbar-left">
                <li ><a href="#/dashboard">Dashboard</a></li>
                <li class="active"><a href="#/">Orders</a></li>
                <li><a href="#/">Discounts</a></li>
                <li><a href="#/menusupload">Menus</a></li>
                <li><a href="#/">Billing</a></li>
                <li><a href="#/">Reports</a></li>
              </ul>
              <form  class="navbar-form navbar-right">
                 <span ng-hide="hmepgectrl.userservice.LoggedIn()">
                 </span>
                 <span ng-show="hmepgectrl.userservice.LoggedIn()">
                  <a type="button" ng-click="hmepgectrl.userservice.logout()" class="btn btn-primary" >Log out</a>
                  </span>
              </form>
            </div>
          </div>
        </nav>

      </div>
    </div>


<div class="container">
<div class="row">
<div class="col-md-6 bootcards-list">
  <div class="panel panel-default">
  <div class="panel-body">
      <form>
        <div class="row">
          <div class="col-xs-9">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search Notification...">
              <i class="fa fa-search"></i>
            </div>
          </div>
          <div class="col-xs-3">
            <a class="btn btn-primary btn-block" href="#">
              <i class="fa fa-plus"></i>
              Add
            </a>
          </div>
        </div>
      </form>
    </div>
    <div class="list-group">
      <a class="list-group-item bootcards-no-indicators" href="#">
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-3x fa-building-o pull-left"></i>
            <h4 class="list-group-item-heading">Alparvis Ltd</h4>
            <p class="list-group-item-text">London, UK</p>
          </div>
          <div class="col-sm-6">
            <p class="list-group-item-text">Contractor</p>
            <p class="list-group-item-text">$12,000 Revenue YTD</p>
          </div>
        </div>
          <div class="pull-right btn-group btn-group-xs" dropdown>
                  <a href = "#inputItem" data-toggle = "modal" type="button" class="btn btn-danger btn-xs" ng-click="menusuploadpgectrl.deletecategory($index)">Delete</a>
                </div>
              <div class="pull-right btn-group">
               &nbsp;
                <button type="button" ng-click="menusuploadpgectrl.additemtocategory($index)" class="btn btn-xs btn-success">
                  Add Item 
                </button>
              </div> 
      </a>
      <a class="list-group-item" href="#">
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-3x fa-building-o pull-left"></i>
            <h4 class="list-group-item-heading">Derenden Systems</h4>
            <p class="list-group-item-text">Albuquerque, USA</p>
          </div>
          <div class="col-sm-6">
            <p class="list-group-item-text">Supplier</p>
            <p class="list-group-item-text">$1.3m Revenue YTD</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
 <div class="col-md-6 bootcards-cards">
 
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Order Details</h3>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr class="active"><th>Name</th><th>Quantity</th><th>Rate</th></tr>
      </thead>
      <tbody>
        <tr><td>Guy Bardsley</td><td>2750</td><td>4000</td></tr>
        <tr><td>Adam Callahan</td><td>3300</td><td>4000</td></tr>
        <tr><td><strong>Total</strong></td><td><strong>6050</strong></td><td><strong>8000</strong></td></tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <div class="btn-group pull-right">
      <button class="btn btn-success">
        <i class="fa fa-check"></i>
        Accept
      </button>
      </div>
      <div class="btn-group pull-left">
       <button class="btn btn-danger">
        <i class="fa fa-times"></i>
        Reject
      </button>
      </div>
  </div>
</div>

 
    <div id="contactCard">
          
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h3 class="panel-title pull-left">Contact Details</h3>
              <div class="btn-group pull-right visible-xs">
                <a class="btn btn-primary" href="/contacts/VBMJHwcLX3Vx/edit"
                  data-toggle="modal"
                  data-target="#editModal">
                  <i class="fa fa-pencil"></i>
                  <span>Edit</span>
                </a>
              </div>  
              <a class="btn btn-primary pull-right hidden-xs" href="/contacts/VBMJHwcLX3Vx/edit"
                data-toggle="modal"
                data-target="#editModal">
                <i class="fa fa-pencil"></i>
                <span>Edit</span>
              </a>
            </div>
            <div class="list-group">
              <div class="list-group-item">
                <img src="/images/Sofia Acey.jpg" class="img-rounded pull-left"/>
                <label>Name</label>
                <h4 class="list-group-item-heading">Acey, Sofia</h4>
              </div>
              <div class="list-group-item">
                <label>Company</label>
                <h4 class="list-group-item-heading">Masung Corp.</h4>
              </div>
              <div class="list-group-item">
                <label>Job Title</label>
                <h4 class="list-group-item-heading">Finance Director (ZCT)</h4>
              </div>
              <div class="list-group-item">
                <label>Department</label>
                <h4 class="list-group-item-heading">Finance</h4>
              </div>
              <a class="list-group-item" href="tel://+1 650-555-0055">
                <label>Phone</label>
                <h4 class="list-group-item-heading">+1 650-555-0055</h4>
              </a>
              <a class="list-group-item" href="mailto:Sofia.Acey@masung.com">
                <label>Email</label>
                <h4 class="list-group-item-heading">Sofia.Acey@masung.com</h4>
              </a>
            </div>
            <div class="panel-footer">
              <a class="btn btn-link btn-xs pull-right"
                      href="/snippets/base-card-form"
                      data-toggle="modal"
                      data-target="#docsModal">
                      View Source</a>
            </div>    
          </div>
        
        </div>

</div>
</div>
</div>