
<div class="col-lg-6 col-lg-offset-3">
  <div class="bs-component">
    <div class="panel panel-default">
      <div class="panel-heading">
       <h3 class="panel-title">Add Category</h3>
     </div>
     <div class="panel-body">
      <form ng-submit="menusuploadpgectrl.addcategory()">
        <div class="form-group">
         <div class="input-group">
           <span class="glyphicon glyphicon-cutlery input-group-addon"></span>
           <div>
            <input type="text" class="form-control" ng-model="menusuploadpgectrl.categoryname" placeholder="Category Name">
          </div>
        </div>
      </div>
      <input type="submit" value="Add" class="btn btn-success btn" />
    </form> 
  </div>
</div>

</div>
</div>
<div class="col-lg-6 col-lg-offset-3">
 <div class="bs-component">
  <div class="panel panel-default">
    <div class="panel-heading">
     <h3 class="panel-title">Menu Card
       
       <a class="btn btn-success pull-right btn-xs" ng-click = "menusuploadpgectrl.savemenu()" >
        <i class="fa fa-pencil"></i>
        <span>Save Changes</span>
      </a>
    </h3> 
  </div>
  <div class="panel-body">
   <script id="template/accordion/accordion-group.html" type="text/ng-template">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href class="accordion-toggle" ng-click="toggleOpen()" accordion-transclude="heading"><span ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
        </h4>
      </div>
      <div class="panel-collapse" collapse="!isOpen">
        <div class="panel-body" ng-transclude></div>
      </div>
    </div>
  </script>
  <accordion>
    <accordion-group ng-repeat="group in menusuploadpgectrl.menuservice.getgroups()">
    <accordion-heading>
    {{group.title}}
    <div class="pull-right btn-group btn-group-xs" >
      <a  type="button" class="btn btn-danger btn-xs" ng-click="menusuploadpgectrl.deletecategory($index);$event.preventDefault();$event.stopPropagation()">Delete</a>
    </div>
    <div class="pull-right btn-group">
     &nbsp;
     <button type="button" ui-sref="homepage.menusupload.addNewItem({indexval:$index})" ng-click="$event.stopPropagation()" class="btn btn-xs btn-success">
      Add Item 
    </button>
  </div> 
</accordion-heading>
<ul list class="list-group">
  <li class = "list-group-item" ng-repeat="item in group.items"> 
   <div class="pull-right btn-group btn-group-xs" >
    <a type="button" class="btn btn-danger btn-xs" ng-click="menusuploadpgectrl.deleteitem($parent.$index,$index);">Delete</a>
  </div>

  Rs {{item['item-price']}}
  <div class=" pull right col-sm-6">
    <p class="list-group-item-text"> {{item['item-name']}}</p>
  </div>

</li>
</ul>
</accordion-group>   
</accordion>
</div>
</div>
</div>
</div>
