   <link href="css/signin.css" rel="stylesheet">
     <div class="container" >
    <div class="row" >
        <div class="col-md-12">
            <div class="wrap">
                <p class="form-title">
                    Sign In</p>
                <form class="login" ng-submit="loginCtrl.login()" name="loginForm" novalidate>
                <input name="loginemail" type="email" ng-model="loginCtrl.user.email" placeholder="Email"  required/>
                <div ng-show="loginForm.$submitted"> 
                 <span class="label label-danger" ng-show="loginForm.loginemail.$invalid">Enter a Email Address</span>
                </div>
                <input type="password" name="loginpassword" ng-model="loginCtrl.user.password" placeholder="Password" required/>
                <div ng-show="loginForm.$submitted"> 
                 <span class="label label-danger" ng-show="loginForm.loginpassword.$invalid">Enter a Password</span>
                  <span class="label label-danger" ng-show="loginForm.loginpassword.$invalid">either the username or password is incorrect</span>
                </div>
                <input type="submit" value="Sign In" class="btn btn-primary btn" />
                <div class="remember-forgot">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" />
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 forgot-pass-content">
                            <a  class="forgot-pass">Forgot Password</a>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
     <footer class="posted-by">
        <p>© 2014 Foodpipe, Inc. · <a href="http://getbootstrap.com/examples/carousel/#">Privacy</a></p>
      </footer>
</div>

