   <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#/">Foodpipe</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
             <form class="navbar-form navbar-right">
                <a type="button" href="#/signin" class="btn btn-primary" >Sign in</a>
              </form>
            </div>
          </div>
        </nav>

      </div>
    </div>

     <div class="container">
 
      <form class="form-signin">
        <h2 class="form-signin-heading">Signup with Foodpipe</h2>
        <label for="inputEmail" >Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputTelephoneNumber" >Phone Number</label>
        <input type="tel" id="inputTelephoneNumber" class="form-control" placeholder="Phone Number" required="">
        <label for="inputNewPassword" >New Password</label>
        <input type="password" id="inputNewPassword" class="form-control" placeholder="New Password" required="">
        <label for="inputConfirmPassword" >Confirm Password</label>
        <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-success btn-block" type="submit">Sign up</button>
      </form>

    
  </div>