   <link href="css/signup.css" rel="stylesheet">
   <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#/">Foodpipe</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
             <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="#/">About</a></li>
                <li><a href="#/">Blog</a></li>
                <li><a href="#/">Carrers</a></li>
                <li><a href="#/">Contact</a></li>
              </ul>
             <form class="navbar-form navbar-right">
                <a type="button" ui-sref="signin" class="btn btn-primary" >Sign in</a>
              </form>
            </div>
          </div>
        </nav>

      </div>
    </div>

 <div class="container" >
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap">
                <div class="pass-reset">
                    <label>
                        Enter the email you signed up with</label>
                    <input type="email" placeholder="Email" />
                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                </div>
            </div>
            <div class="wrap">
                <p class="form-title">
                    Sign Up</p>
                <form class="login" ng-submit="signupctrl.signup()">
                <input type="text" placeholder="Full Name" ng-model="signupctrl.user.fullname"/>
                <input type="email" placeholder="Email"  ng-model="signupctrl.user.email"/>
                <input type="tel" placeholder="Mobile Number" ng-model="signupctrl.user.mobile" />
                <input type="password" placeholder="New Password" ng-model="signupctrl.user.password"/>
                <input type="password" placeholder="Confirm Password" ng-model="signupctrl.user.password"/>
                <input type="submit" value="Sign up" class="btn btn-success btn-sm" />
                </form>
            </div>
        </div>
    </div>
     <footer class="posted-by">
        <p>© 2014 Foodpipe, Inc. · <a href="http://getbootstrap.com/examples/carousel/#">Privacy</a></p>
      </footer>
</div>