   <link href="css/signup.css" rel="stylesheet">

 <div class="container" >
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap">
                <div class="pass-reset">
                    <label>
                        Enter the email you signed up with</label>
                    <input type="email" placeholder="Email" />
                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                </div>
            </div>
            <div class="wrap">
                <p class="form-title">
                    Sign Up</p>
                <form class="login" ng-submit="signupctrl.signup()">
                <input type="text" placeholder="Full Name" ng-model="signupctrl.user.fullname"/>
                <input type="email" placeholder="Email"  ng-model="signupctrl.user.email"/>
                <input type="tel" placeholder="Mobile Number" ng-model="signupctrl.user.mobile" />
                <input type="password" placeholder="New Password" ng-model="signupctrl.user.password"/>
                <input type="password" placeholder="Confirm Password" ng-model="signupctrl.user.password"/>
                <input type="submit" value="Sign up" class="btn btn-success btn-sm" />
                </form>
            </div>
        </div>
    </div>
     <footer class="posted-by">
        <p>© 2014 Foodpipe, Inc. · <a href="http://getbootstrap.com/examples/carousel/#">Privacy</a></p>
      </footer>
</div>